.search__wrapper{
  margin-top: 70px;
  .search_title{
    border-bottom: 1px solid rgba(51, 51, 51, .1);
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    h4{
      font-weight: 300;
      font-size: 1.2em;
      line-height: 24px;
      margin-bottom: 5px;
    }
    p{
      font-weight: 300;
      font-size: 0.9em;
      margin-bottom: 0px;
    }
  }
  .v-card{
    margin-bottom: 30px;
  }
  .v-sheet.v-card:not(.v-sheet--outlined){
    box-shadow: none;
  }
  .v-list-item{
    padding: 0;
    border-bottom: 1px rgba(51, 51, 51, .3) dashed;
    min-height: 45px;
  }
  .v-list-item__title, .v-list-item__subtitle{
    flex: 1 1 50%;
    font-size: 0.9em;
    font-weight: 300;
  }
  .v-list-item__subtitle{
    font-weight: 100;
    color: #333 !important;
    i{
      margin-right: 7px;
    }
  }
  .search_list{
    .list__item{
      cursor: pointer;
      position: relative;
      transition: .4s all;
      transition: .4s all;
      &:hover{
        margin-left: -15px;
      }
      .v-avatar{
        margin-right: 5px;
      }
      img{
        height: 29px;
      }
      .v-list-item__title{
        font-size: 1.1em;
      }
      .item_down{
        display: flex;
        justify-content: flex-start;
        margin-top: 5px;
        .v-list-item__subtitle{
          font-size: 0.9em;
          flex: none;
          width: auto;
          margin-right: 20px;
        }
      }
    }
  }
}
.maps{
  &__title{
    margin-bottom: 20px;
    h3{
      font-size: 1.7em;
      font-weight: 100;
    }
    p{
      font-size: 1em;
      font-weight: 100;
    }
  }
}
@media screen and (max-width: 768px){
  .search__wrapper{
    margin-top: 20px;
  }
}
@media screen and (max-width: 650px){
  .search__wrapper{
    .v-card{
      margin-bottom: 10px;
    }
    .v-list-item__title, .search__wrapper .v-list-item__subtitle{
      font-size: 1.1em;
    }
    .v-list-item{
      min-height: 35px;
    }
    .search_title{
      h4{
        font-size: 1.5em;
        margin-bottom: 5px;
      }
      p{
        font-size: 1.1em;
      }
    }
  }
}
